@font-face {
    font-family: karla;
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
    
}
body {
    margin: 0px;
    font-size: 16px;
    font-family: karla;
    font-weight: 400;
    background-color: hsl(0, 77%, 62%);
}

ul, li, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-family: karla;
}

.area {
    padding: 0 10vw;
}
/* 
.title {
    line-height: 65px;
    font-family: "DM Serif display", sans-serif;
    font-size: 4em;
    font-weight: 400;
}

.short-line {
    height: 2px;
    width: 155px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
}

.pattern {
    position: absolute;
}

.btn {
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    cursor: pointer;
    padding: 12px 30px;
    background-color: transparent;
    text-decoration: none; }
    .btn:hover {
        color: hsl(256, 26%, 20%);
        background-color: hsl(0, 0%, 98%);
    }

.navbar {
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: hsl(0, 0%, 98%); }
    .toggler {
        display: none;
    }
    .navlinks-ctn {
        list-style: none; }
        .navlinks-box {
            display: inline-block;
            font-weight: 700;
        }
        .navlinks {
            padding: 0px 15px;
            font-family: 'Karla', sans-serif;
            text-decoration: none;
            color: hsl(216, 30%, 68%); }
            .navlinks:hover {
                color: hsl(256, 26%, 20%);
            }
        .nav-btn {
            margin-left: 10px;
            border: 2px solid hsl(256, 26%, 20%);
            color: hsl(256, 26%, 20%); }
            .nav-btn:hover {
                background-color: hsl(256, 26%, 20%);
                color: hsl(0, 0%, 98%);
            }

.image-intro-mobile {
    display: none;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.mobile-pattern {
    display: none;
}

.desktop-pattern {
    display: block;
}

.right-pattern-desktop {
    z-index: 2;
    top: -70px;
    right: 0;
}

.left-pattern-desktop {
    z-index: 1;
    top: 435px;
    left: 0;
}

.humanizing {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(256, 26%, 20%); }
    .preamble {
        display: block;
        box-sizing: border-box;
        width: 50%;
        padding-right: 0px;
        margin-right: auto; }
        .preamble .title {
            font-size: 5em;
            margin-top: 70px;
            margin-bottom: 30px;
        }
        .preamble .paragraph {
            font-size: 1.05em;
            line-height: 30px;
        }
        .preamble-btn {
            margin-top: 40px; }
            .preamble-btn:hover {
                color: hsl(256, 26%, 20%);
                background-color: hsl(0, 0%, 98%);
            }
    .image-intro-desktop {
        display: inline;
        top: 100px;
        right: 10vw;
        position: absolute;
    }

.service-feature {
    display: flex;
    flex-direction: column;
    padding-top: 270px;
    padding-bottom: 150px;
    background-color: rgb(255, 255, 255); }
    .different {
        height: 500px;
        background-color: tomato;
    }
    .find-out-more {
        height: 250px;
        background-color: hsl(256, 26%, 20%);
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-position: right 0px;
        background-repeat: no-repeat;
    }

.footer {
    height: 400px;
    background-color: hsl(0, 0%, 98%);
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
}

@media (max-width: 500px) {
    .area {
        box-sizing: border-box;
        padding: 0 7vw;
    }
    .toggler {
        display: block;
    }

    .navlinks-ctn-mobile {
        top: 75px;
        right: 0;
        position: absolute;
        padding: 0 7vw;
        padding-top: 25px;
        display: none;
        box-sizing: border-box;
        height: calc(100vh - 75px);
        width: 100vw;
        background-color: hsl(270, 9%, 17%);
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat; }
        .navlinks-box {
            display: block;
            font-weight: 700;
            box-sizing: border-box;
            text-align: center;
        }
        .navlinks {
            width: 100%;
            box-sizing: border-box;
            font-size: 1.3em;
            display: inline-block;
            padding: 20px 15px;
            text-decoration: none;
            color: hsl(0, 0%, 98%); }
            .navlinks:hover {
                color: hsl(273, 4%, 51%);
            }
        .nav-btn {
            font-size: 1.3em;
            border: 2px solid hsl(0, 0%, 98%);
            width: 100%;
            color: hsl(0, 0%, 98%); }
            .nav-btn:hover {
                background-color: hsl(0, 0%, 98%);
                color: hsl(270, 9%, 17%);
            }
    
    .mobile-pattern {
        display: block;
    }
    .desktop-pattern {
        display: none;
    }
    .right-pattern-mobile {
        z-index: 2;
        top: 440px;
        right: 0;
    }

    .image-intro-mobile {
        display: block;
        width: 100%;
    }
    .image-intro-desktop {
        display: none;
    }

    .humanizing {
        padding-top: 30px;
        padding-bottom: 70px;
        color: hsl(0, 0%, 98%);
        background-color: hsl(256, 26%, 20%);
        background-image: url(../images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat; }
        .preamble {
            text-align: center;
            width: 100%;
            padding-right: 0px;
            margin-right: auto; }
            .preamble-short-line {
                display: none;
            }
            .preamble .title {
                font-size: 5em;
                margin-top: 70px;
                margin-bottom: 30px;
            }
            .preamble .paragraph {
                font-size: 1.05em;
                line-height: 30px;
            }

    .service-feature {
        padding-top: 180px;
        padding-bottom: 150px;
    }
    .find-out-more {
        height: 350px;
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    }
    .footer {
        height: 400px;
        background-color: hsl(0, 0%, 98%);
        background-image: url(../images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
    }
} */