body {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Karla", sans-serif;
    background-color: hsl(0, 77%, 62%);
}

ul, li, a, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    list-style: none;
}

.title {
    font-family: "DM Serif Display";
    font-size: 45px;
}

.sub-title {
    font-family: "DM Serif Display";
    font-size: 30px;
}

.paragraph {
    line-height: 30px;
}

.btn {
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    cursor: pointer;
    padding: 12px 30px;
    background-color: transparent;
    text-decoration: none; }
    .btn:hover {
        color: hsl(256, 26%, 20%);
        background-color: hsl(0, 0%, 98%);
    }

.area {
    padding: 0 7vw;
    position: relative;
}

.navbar {
    /* z-index: 50; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: hsl(0, 0%, 98%); }
    .toggler {
        display: block;
    }
    .navlinks-ctn-mobile {
        top: 70px;
        right: 0;
        position: absolute;
        padding: 0 7vw;
        /* padding-top: 25px; */
        display: none;
        box-sizing: border-box;
        height: calc(100vh - 70px);
        width: 100vw;
        background-color: hsl(270, 9%, 17%);
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat; }
        .navlinks-box {
            display: block;
            font-weight: 700;
            box-sizing: border-box;
            text-align: center;
        }
        .navlinks {
            width: 100%;
            box-sizing: border-box;
            font-size: 1.3em;
            display: inline-block;
            padding: 20px 15px;
            text-decoration: none;
            color: hsl(0, 0%, 98%); }
            .navlinks:hover {
                color: hsl(273, 4%, 51%);
            }
        .nav-btn {
            font-size: 1.3em;
            border: 2px solid hsl(0, 0%, 98%);
            width: 100%;
            color: hsl(0, 0%, 98%); }
            .nav-btn:hover {
                background-color: hsl(0, 0%, 98%);
                color: hsl(270, 9%, 17%);
            }
    
    
.image-intro-mobile {
    display: block;
    width: 100%;
}


.image-intro-desktop {
    display: none;
    top: 100px;
    right: 10vw;
    position: absolute;
}

.pattern {
    position: absolute;
}

.mobile-pattern {
    display: block;
}
.desktop-pattern {
    display: none;
}

.short-line {
    height: 1.5px;
    width: 155px;
    border-radius: 10px;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.humanizing {
    color: hsl(0, 0%, 98%);
    background-color: hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat; }
    .preamble {
        text-align: center;
        width: 100%;
        padding-right: 0px;
        margin-top: 80px;
        margin-bottom: 100px;
        margin-right: auto; }
        .preamble-short-line {
            display: none;
        }
        .preamble .title {
            margin-bottom: 20px;
        }
        .preamble .paragraph {
            margin-bottom: 35px;
        }
        .right-pattern-mobile {
            z-index: 2;
            bottom: -175px;
            right: 0;
        }

.service-feature {
    padding-top: 130px;
    padding-bottom: 150px; }
    .different {
        text-align: center;
        margin-bottom: 50px; }
        .different-short-line {
            margin: auto;
            background-color: hsl(270, 9%, 17%);
        }
        .different .title {
            margin-top: 35px;
            margin-bottom: 70px;
        }
        .feature-ctn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0; }
            .feature {
                text-align: center;
                margin-bottom: 50px; }
                .feature-icon {
                    margin-bottom: 30px;
                }
                .feature .sub-title {
                    margin-bottom: 10px;
                }
    .find-out-more {
        height: 340px;
        background-color: hsl(256, 26%, 20%);
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
        background-position: top right ;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: hsl(0, 0%, 98%); }
        .find-out-more .title {
            line-height: 40px;
            font-size: 38px;
            margin-bottom: 30px;
        }

.footer {
    box-sizing: border-box;
    /* height: 400px; */
    background-color: hsl(0, 0%, 98%);
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat; }
    .footer-long-line {
        width: 100%;
        background-color: #9E96C6;
    }
    .footer-top {
        text-align: center; }
        .footer-top .logo {
            margin-top: 90px;
            margin-bottom: 25px;
        }
        .social-ctn {
            margin: 0 auto;
            width: 45%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    .footer-link-ctn {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px;
     }
        .link-list-box {
            width: 100%;
            text-align: center;}
            .links-title {
                font-weight: 700;
                margin: 30px 0;
                color: hsl(273, 4%, 51%);
            }
            .list-links {
                font-weight: 700;
                color: hsl(256, 26%, 20%);
            }
            .list-links:not(:last-child) {
                margin-bottom: 10px;
            }