@font-face {
    font-family: "DM Serif Display";
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla/Karla-Regular.ttf);
    font-weight: 400, 700;
}

body {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Karla", sans-serif;
}

ul, li, a, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    list-style: none;
}

.title {
    font-family: "DM Serif Display";
    font-size: 45px;
}

.sub-title {
    font-family: "DM Serif Display";
    font-size: 30px;
}

.paragraph {
    line-height: 30px;
}

.btn {
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    cursor: pointer;
    padding: 12px 30px;
    background-color: transparent;
    text-decoration: none; }
    .btn:hover {
        color: hsl(256, 26%, 20%);
        background-color: hsl(0, 0%, 98%);
    }

.area {
    padding: 0 7vw;
    position: relative;
}

.navbar {
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: hsl(0, 0%, 98%); }
    .toggler {
        display: block;
    }
    .navlinks-ctn-mobile {
        display: none;
    }
    .navlinks-ctn {
        top: 70px;
        right: 0;
        position: absolute;
        padding: 0 7vw;
        box-sizing: border-box;
        height: calc(100vh - 70px);
        width: 100vw;
        background-color: hsl(270, 9%, 17%);
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat; }
        .navlinks-box {
            display: block;
            font-weight: 700;
            box-sizing: border-box;
            text-align: center;
        }
        .navlinks {
            width: 100%;
            box-sizing: border-box;
            font-size: 1.3em;
            display: inline-block;
            padding: 20px 15px;
            text-decoration: none;
            color: hsl(0, 0%, 98%); }
            .navlinks:hover {
                color: hsl(273, 4%, 51%);
            }
        .nav-btn {
            font-size: 1.3em;
            border: 2px solid hsl(0, 0%, 98%);
            width: 100%;
            color: hsl(0, 0%, 98%); }
            .nav-btn:hover {
                background-color: hsl(0, 0%, 98%);
                color: hsl(270, 9%, 17%);
            }
    
.image-intro-mobile {
    display: block;
    width: 100%;
}

.image-intro-desktop {
    display: none;
    right: 10vw;
}

.pattern {
    position: absolute;
}

.short-line {
    height: 1.5px;
    width: 155px;
    border-radius: 10px;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.humanizing {
    color: hsl(0, 0%, 98%);
    background-color: hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat; }
    .preamble {
        text-align: center;
        width: 100%;
        margin: 80px 0;
        margin-bottom: 100px; }
        .preamble-short-line {
            display: none;
        }
        .preamble .title {
            margin-bottom: 10px;
        }
        .preamble .paragraph {
            margin-bottom: 35px;
        }
        .mobile-pattern {
            display: block;
            z-index: 2;
            bottom: -175px;
            right: 0;
        }
        .desktop-pattern {
            display: none;
        }

.service-feature {
    padding-top: 130px;
    padding-bottom: 150px; }
    .different {
        text-align: center;
        margin-bottom: 50px; }
        .different-short-line {
            margin: auto;
            background-color: hsl(270, 9%, 17%);
        }
        .different .title {
            margin-top: 35px;
            margin-bottom: 70px;
        }
        .feature-ctn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0; }
            .feature {
                text-align: center;
                margin-bottom: 50px; }
                .feature-icon {
                    margin-bottom: 30px;
                }
                .feature .sub-title {
                    margin-bottom: 10px;
                }
    .find-out-more {
        height: 340px;
        background-color: hsl(256, 26%, 20%);
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
        background-position: top right ;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: hsl(0, 0%, 98%); }
        .find-out-more .title {
            line-height: 40px;
            margin-bottom: 30px;
        }

.footer {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat; }
    .footer-long-line {
        width: 100%;
        background-color: #9E96C6;
    }
    .footer-top {
        text-align: center; }
        .footer-top .logo {
            margin-top: 90px;
            margin-bottom: 25px;
        }
        .social-ctn {
            margin: 0 auto;
            width: 45%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    .footer-link-ctn {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px; }
        .link-list-box {
            width: 100%;
            text-align: center;}
            .links-title {
                font-weight: 700;
                margin: 30px 0;
                color: hsl(273, 4%, 51%);
            }
            .list-links {
                font-weight: 700;
                color: hsl(256, 26%, 20%);
            }
            .list-links:not(:last-child) {
                margin-bottom: 10px;
            }

@media (min-width: 500px) {
    .find-out-more, .feature {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .preamble {
        text-align: center;
        width: 90%;
        margin: 80px auto; }
    .find-out-more {
        height: 250px;
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        justify-content: space-between;
        text-align: left;
        flex-direction: row; }
        .find-out-more .title {
            width: 50%;
            margin-bottom: 0px;
        }
    .find-out-more, .feature {
        padding: 0 50px;
    }
    .link-list-box {
        width: 50%;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 55px;
    }
    .sub-title {
        font-size: 30px;
    }
    .image-intro-mobile {
        display: none;
    }
    .navbar {
        background-color: hsl(0, 0%, 98%); }
        .toggler {
            display: none;
        }
        .navlinks-ctn {
            position: unset;
            padding: 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 70px;
            width: auto;
            background-color: transparent;
            background-image: none }
            .navlinks {
                width: auto;
                font-weight: 700;
                font-size: 1em;
                color: hsl(273, 4%, 51%); }
                .navlinks:hover {
                    color: hsl(256, 26%, 20%);
                }
            .nav-btn {
                font-size: 1em;
                border: 2px solid hsl(256, 26%, 20%);
                width: auto;
                color: hsl(256, 26%, 20%); }
                .nav-btn:hover {
                    color: hsl(0, 0%, 98%);
                    background-color: hsl(256, 26%, 20%);
                }
    .humanizing {
        height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: hsl(0, 0%, 98%);
        background-color: hsl(256, 26%, 20%);
        background-image: url(../images/bg-pattern-intro-left-desktop.svg);
        background-position: bottom -330px left;
        background-repeat: no-repeat; }
        .preamble {
            box-sizing: border-box;
            width: 50%;
            text-align: left;
            padding-right: 40px;
            margin: 0; }
            .preamble-short-line {
                display: block;
                background-color: hsl(0, 0%, 98%);
                margin-bottom: 40px;
            }
            .preamble .title {
                line-height: 50px;
                margin-bottom: 10px;
            }
            .preamble .paragraph {
                margin-bottom: 35px;
            }
            .mobile-pattern {
                display: none;
            }
            .desktop-pattern {
                display: block;
                z-index: 2;
                top: -80px;
                right: 0;
            }
        .image-intro-desktop {
            width: 47%;
            display: block;
            margin-top: 150px;
        }
    .different-short-line {
        margin: unset;
        margin-right: auto;
    }
    .different .title {
        margin-top: 35px;
        margin-bottom: 30px;
        text-align: left;
    }
    .feature-ctn {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, auto);
        padding: 50px 0; }
        .feature {
            text-align: left;
            padding: unset; }
    .find-out-more .title {
        width: 60%;
        line-height: 50px;
    }
    .footer {
        background-image: url(../images/bg-pattern-footer-desktop.svg);
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center; }
        .footer-top .logo {
            margin-top: 90px;
            margin-bottom: 25px;
        }
        .social-ctn {
            margin: 0;
            margin-top: 90px;
            margin-bottom: 25px;
            width: 15%;
        }
    .link-list-box {
        width: 25%;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .area {
        padding: 0 10vw;
    }
    .title {
        font-size: 75px;
    }
    .sub-title {
        font-size: 35px;
    }
    .paragraph {
        font-size: 16px;
    }
    .humanizing {
        height: 700px; }
        .preamble-short-line {
            margin-bottom: 50px;
        }
        .preamble .title {
            line-height: 75px;
            margin-bottom: 30px;
        }
        .preamble .paragraph {
            margin-bottom: 45px;
        }
        .image-intro-desktop {
            width: 50%;
            margin-top: 250px;
        }
    .service-feature {
        padding-top: 130px;
        padding-bottom: 150px; }
        .find-out-more .title {
            width: 46%;
            font-size: 55px;
        }
}